body{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}
.imran{
    color: orange;
}
.harun{
    display: flex;
}
.hossen{
    text-decoration: none;
    background-image: linear-gradient(blue, orange 60%);
    color: white;
    font-weight: 700;
    padding: 10px  40px;
    border-radius: 5px;
}
.nana{
    text-decoration: none;
    background-image:linear-gradient(orange,tomato);
    font-weight: 700;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
}
.ospita{
    padding-left: 40px;
}
.anawar{
    padding-right: 25px;
}
#liniya{
    padding-top: 200px;
}
.kana{
    padding-left: 50px;
}

.kasem{
    display: flex;
}
.likhon{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}
#akssmin{
    border-left: 7px solid;
border-image: linear-gradient(blue, cyan);
border-image-slice: 1;
}
#aks-smin{
    border-left: 7px solid;
border-image: linear-gradient(green, red);
border-image-slice: 1;
}

h3{
    color: red;
}
footer{
    text-align: center;
    color: red;
padding-top: 80px;
}
